{# templates/product/create.html.twig #}

{{ form_start(form, {'attr': {'enctype':'multipart/form-data'}}) }}
{{ form_widget(form) }}
<button type="submit">Guardar Producto</button>
{{ form_end(form) }}
