{# templates/welcome.html.twig #}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Welcome to Our Site!</title>
    </head>
    <body>
        <h1>Welcome to Our Site!</h1>
        <p>This is a custom welcome page for our e-market.</p>
        <a href="{{ path('product_create') }}" class="btn btn-primary">Crear Producto</a>

    </body>
</html>
