{# templates/welcome.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Welcome to Our Site!{% endblock %}

{% block body %}
    <!-- Aquí va el contenido de tu página de bienvenida -->
    <h1>Bienvenido a Nuestro Sitio!</h1>
    <p>Este es el contenido de la página de bienvenida.</p>
    <!-- Cualquier otro contenido HTML -->
{% endblock %}


